extends layout

block content 
  div
  .title
    h1 AGAR IO
    a(href='/auth/google' id='login-btn-google')
      img(src='images/google-login.png' alt='google-login-button')
  span OR
  .form
    form(action='' id='login-form-anonymous')
      label(for='name') Enter your name:
      br
      input#login-form-anonymous-name(type='text' name='name' placeholder='John Snow')
      br
      a(type='submit' id='login-form-anonymous-button') Play Anonymously
  .instructions
    .instructions-wrapper
      h2
        strong INSTRUCTIONS
      ul
        li Eat blobs smaller than you (duh). Every time you eat a blob, you get bigger in size.
        li Smaller blobs move faster than larger blobs.
        li Your score corresponds to the largest you have been in your current life.

block scripts 
  script(src='/js/initStuffBundle.js')


