extends layout

block content 
  .modal
    .modal__header PLAY AGAR.IO
    .modal__login-google
        button#login-btn-google Log in with google
    //- .modal__login-basic
    //-     p Log in with username and password
    //-     form#login-form-basic.modal__form
    //-       input#login-form-basic-email(type= 'email' name='login-form-basic-email')
    //-       input#login-form-basic-password(type='password' name='login-form-basic-password')
    //-       button#login-form-basic-button(type='submit') Login with credentials
    .modal__login-anonymous
      form#login-form-anonymous.modal__form
        input#login-form-anonymous-name(type='text' name='login-form-anonymous-name' placeholder='Enter your Name')
        p score wont be stored
        button#login-form-anonymous-button(type='submit') PLAY ANONymously !

block scripts 
  script(src='/js/initStuffBundle.js')


