*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: ".", monospace;
  /* padding: 1rem; */
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #535353;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  /* height: calc(100vh - 2rem);
  -webkit-transform: translateY(-3rem);
  transform: translateY(-2rem); */
}

@media screen and (max-width: 500px) {
  body {
    -webkit-transform: translateY(-1rem);
    transform: translateY(-1rem);
  }
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.title > h1 {
  font-size: 4rem;
  color: #7fff00;
}

.title > a {
  padding-top: 2rem;
  cursor: pointer;
  border: none;
  background-color: #535353;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

@media screen and (max-width: 500px) {
  .title > a {
    padding: 0.5rem;
  }
}

@media screen and (max-width: 500px) {
  .title > a {
    padding: 0.5rem;
  }
}

.title > a:focus {
  outline: none;
}

.title > a > img {
  width: 20rem;
  height: 5rem;
}

.title > a > img:hover {
  -webkit-box-shadow: 1rem 1rem #000;
  box-shadow: 1rem 1rem #000;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.title > a > img:active {
  -webkit-box-shadow: 0.5rem 0.5rem;
  box-shadow: 0.5rem 0.5rem;
}

span {
  text-align: center;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 2rem auto;
  color: #fff;
}

@media screen and (max-width: 500px) {
  span {
    margin: 0.5rem auto;
  }
}

.form {
  width: calc(100vw - 2rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.form form {
  border: 0.5rem solid #7fff00;
  background-color: #eeeeee;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.form form label {
  color: #000;
  -webkit-transform: translateY(1rem);
  transform: translateY(1rem);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.form form input {
  width: 50vw;
  height: 3rem;
  border-radius: 0;
}

.form form input > * {
  -webkit-transform: translateX(2px);
  transform: translateX(2px);
}

.form form input::-webkit-input-placeholder {
  -webkit-transform: translateX(2px);
  transform: translateX(2px);
}

.form form input:-ms-input-placeholder {
  transform: translateX(2px);
}

.form form input::-ms-input-placeholder {
  transform: translateX(2px);
}

.form form input::placeholder {
  -webkit-transform: translateX(2px);
  transform: translateX(2px);
}

.form form input:focus {
  border: 2px solid #000;
  outline: none;
}

@media screen and (max-width: 500px) {
  .form form input {
    width: 75vw;
  }
}

.form form a {
  outline: none;
  width: 13rem;
  height: 2.25rem;
  font-family: ".", monospace;
  font-size: 1.1rem;
  cursor: pointer;
  background: #7fff00;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.form form button:focus {
  outline: 2px solid #000;
}

.form form:hover {
  -webkit-box-shadow: 1rem 1rem #000;
  box-shadow: 1rem 1rem #000;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.instructions {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.instructions-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50vw;
  padding-top: 3rem;
}

.instructions-wrapper > * {
  color: #eeeeee;
}

.instructions-wrapper h2 {
  font-size: 1.8rem;
  padding-bottom: 0.5rem;
}

.instructions-wrapper ul li {
  font-size: 1.5rem;
}

.instructions-wrapper ul li:not(:last-child) {
  padding-bottom: 2px;
}

@media screen and (max-width: 500px) {
  .instructions-wrapper {
    width: 75vw;
  }
}

.container {
  height: inherit;
  width: inherit;
}

canvas {
  display: block;
  background-color: white;
}

.score__wrapper {
  min-width: 12rem;
  background-color: white;
  color: black;
  font-size: 2.3rem;
  opacity: 0.7;
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.score__wrapper * {
  color: black;
  margin: 0.5rem auto;
}

.message__wrapper {
  position: fixed;
  width: 100%;
  bottom: 2rem;
}

.message {
  z-index: 100;
  display: table;
  font-size: 2.3rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: black;
  background-color: #fff;
  margin: auto;
  /* opacity must be changed to be flashed */
  opacity: 0;
}

.leaderboard__wrapper {
  min-width: 16rem;
  background-color: #fff;
  color: black;
  font-size: 23px;
  opacity: 0.7;
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 5px;
}

.leaderboard {
  color: black;
  font-size: 2.3rem;

  display: flex;
  flex-direction: column;
}

.leaderboard > span {
  margin: 0;
  padding: 4px;
  color: black;
  font-size: 2.3rem;

  align-self: flex-start;
}

.leaderboard__list {
  align-self: center;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.leaderboard__player {
  font-size: 1.8rem;
  list-style: none;

  width: inherit;
  display: flex;
  justify-content: space-around;
}

.leaderboard__player > * {
  color: black;
  margin: 0.5rem auto;
}

.hidden {
  display: none !important;
}

.retry-btn__wrapper {
  padding: 2rem;
  border: 0.5rem solid #7fff00;
  background-color: #eeeeee;
}

.retry-btn {
  font-family: ".";

  position: absolute;
  top: 40%;
  left: 40%;

  opacity: 0;
  padding: 2rem;
  font-size: 2.3rem;
  color: #7fff00;
}

.retry-btn retry-btn:hover {
  -webkit-box-shadow: 1rem 1rem #000;
  box-shadow: 1rem 1rem #000;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
